# Publish to GitHub Container Registry:
# docker compose -f examples/docker/opentelemetry.yaml publish ghcr.io/qwasr/otel-compose:latest

services:
  otelcol:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otelcol
    configs:
      - source: otel
        target: /etc/otelcol-contrib/config.yaml
    ports:
      - 4317:4317
    depends_on:
      - jaeger
      - prometheus

  jaeger:
    container_name: jaeger
    image: jaegertracing/jaeger:latest
    ports:
      - 16686:16686
    command:
      - --set=service.telemetry.logs.level=warn

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - 9090:9090
    configs:
      - source: prometheus
        target: /etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.enable-remote-write-receiver
      - --log.level=warn

configs:
  otel:
    content: |
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: 0.0.0.0:4317
            http:
              endpoint: 0.0.0.0:4318
      processors:
        batch:
      exporters:
        otlp/jaeger:
          endpoint: jaeger:4317
          tls:
            insecure: true
        prometheusremotewrite:
          endpoint: http://prometheus:9090/api/v1/write
          tls:
            insecure: true
          resource_to_telemetry_conversion:
            enabled: true
        debug:
          verbosity: basic
      service:
        pipelines:
          traces:
            receivers: [otlp]
            processors: [batch]
            exporters: [otlp/jaeger, debug]
          metrics:
            receivers: [otlp]
            exporters: [prometheusremotewrite, debug]
          logs:
            receivers: [otlp]
            exporters: [otlp/jaeger, debug]

  prometheus:
    content: |
      remote_write:
        - url: http://localhost:9090/api/v1/write
